@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora:wght@400;500&family=Montserrat&family=Open+Sans:wght@300;400&family=Roboto&family=Source+Sans+Pro&display=swap');


$font-header: 'Source Sans Pro', sans-serif;
$font-content: 'Open Sans', sans-serif;

$color-primary: black;
$color-secondary: green;

$font-size-baseline: 18px;

$theme-colors: (
   "primary" : #626ED4,
   "secondary" : #343549,
   "success": #2AA39A,
   "danger": #EC4561,
   "warning": #F8B425,
   "info": #38A5F8,
   "light": #f8f8fa,
   "dark": #575c62,
   "muted": #EDECF1
);