@import 'normalize.css';
@import './variables';
@import './calculated';



  // .layoutPlanningBorders {
  // 
  // }

  * {
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }


// Layout formating 
body * {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1rem;
  padding: .4em;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 400px;
}

.remove- {
  &padding {
    padding: initial
  };
  &margin {
    margin: initial 
  };
  &width {
    width: initial;
  };
  &max-width{
    width: initial;
  };
  &all{
    box-sizing: initial;
    display: initial;
    flex-direction: initial;
    padding: initial;
    margin: initial;
    width: initial;
    flex-wrap: initial;
    max-width: initial;
  }
}

.row {
  flex-direction: row;
}

// FONT SIZE
html {
  font-size: $font-size-baseline;
}


// Headers 
h1 {
  color: mix($color-primary, $color-secondary, 0%);
  font-size: 3rem;
}

h2 {
  color: mix($color-primary, $color-secondary, 20%);
  font-size: 2.4rem;
}

h3 {
  color: mix($color-primary, $color-secondary, 40%);
  font-size: 2rem;
}
h4 {
  color: mix($color-primary, $color-secondary, 60%);
  font-size: 1.65rem;
}
h5 {
  color: mix($color-primary, $color-secondary, 80%);
  font-size: 1.5rem;
}
h6 {
  color: mix($color-primary, $color-secondary, 100%);
  font-size: 1.25rem;
}


// Container types

// card
.card {
  border: 2px solid #2d2d2d;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;

  &:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }
}

// buttons
.btn {
  margin: 5px;
  font-weight: 400;
  font-size: 1rem;
  
  align-items: center;
  line-height: 1.5;

  min-width: 5rem;

  border: 0.2px solid lightgrey;
  border-radius: 0.25rem;

  color: #212529;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
